* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: $primary-color;
  min-height: 97.5vh;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
  .coin-bar-img {
    width: 10rem;
    cursor: pointer;
    border-radius: 10rem;
    transition: 0.2s;
    &:hover {
      box-shadow: 0px 0px 30px rgb(255, 255, 255);
    }
    &:active {
      scale: 1.07;
    }
  }
  .game-header {
    background-color: white;
    border-radius: 3rem;
    h1 {
      font-weight: bold;
    }
    p {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
  .shop-area {
    background-color: white;
    min-height: 58vh;
    border-radius: 3rem;
    gap: 0.3rem;
    div {
      text-align: center;
      width: 39.8rem;
      border: 1px solid;
      border-radius: 3rem;
    }
  }
}
